[View in Colaboratory](https://colab.research.google.com/github/anirbanghoshsbi/Cleaning-text-Document/blob/master/name_classifier_nltk.ipynb)

In [4]:
# import libraries
import collections
import nltk
from nltk.corpus import names
nltk.download('names')

[nltk_data] Downloading package names to /root/nltk_data...
[nltk_data]   Unzipping corpora/names.zip.

True

In [0]:
# check the number of girls name
girl_names = names.words('female.txt')

In [6]:
# check first ten names
print(girl_names[:10])

['Abagael', 'Abagail', 'Abbe', 'Abbey', 'Abbi', 'Abbie', 'Abby', 'Abigael', 'Abigail', 'Abigale']

In [0]:
#similarly check boys name
boy_names = names.words('male.txt')

In [10]:
print(boy_names[:10])

['Aamir', 'Aaron', 'Abbey', 'Abbie', 'Abbot', 'Abbott', 'Abby', 'Abdel', 'Abdul', 'Abdulkarim']

In [11]:
#number of boys name and number of girls name in the list
print("No of boys names" , len(boy_names))

No of boys names 2943

In [12]:
print("number of girls name" , len(girl_names))

number of girls name 5001

In [0]:
# find the number of girls name that ends in a 
girls_name_ending_in_a = [name for name in girl_names if name.endswith('a')]

In [17]:
print('Number of Girls  having names that end with a ',len(girls_name_ending_in_a))

Number of Girls  having names that end with a  1773

In [0]:
# most common letter girls name end with
girl_name_ending_most_common = collections.Counter(name[-1] for name in girl_names)

In [29]:
girl_name_ending_most_common.most_common(3)

[('a', 1773), ('e', 1432), ('y', 461)]

In [30]:
#most common
for ele , count in girl_name_ending_most_common.most_common(3):
  print(ele , count)

a 1773
e 1432
y 461

In [46]:
#least common
for ele , count in girl_name_ending_most_common.most_common()[-3:]:
  print(ele , count)

f 2
  1
j 1

In [0]:
# building a name classifier
import nltk
from collections import Counter
from nltk.corpus import names

In [0]:
def extract_features(name):
  return {'last_letter':name[-1]}

In [0]:
# Get the names
boy_names = names.words('male.txt')
girl_names = names.words('female.txt')

In [0]:
#extract the features
boy_name_dataset = [(extract_features(name),'boy') for name in boy_names]

In [58]:
print(boy_name_dataset[:3])

[({'last_letter': 'r'}, 'boy'), ({'last_letter': 'n'}, 'boy'), ({'last_letter': 'y'}, 'boy')]

In [0]:
#extract features fron the girl name dataset
girl_name_dataset = [(extract_features(name), 'girl') for name in girl_names]

In [0]:
#join the data
data = boy_name_dataset + girl_name_dataset

In [0]:
#shuffle the data
import random
random.shuffle(data)

In [63]:
# check the first 10 entries
data[:10]

[({'last_letter': 'a'}, 'girl'),
 ({'last_letter': 'i'}, 'girl'),
 ({'last_letter': 'e'}, 'boy'),
 ({'last_letter': 'a'}, 'girl'),
 ({'last_letter': 'e'}, 'girl'),
 ({'last_letter': 'i'}, 'boy'),
 ({'last_letter': 'l'}, 'girl'),
 ({'last_letter': 'e'}, 'girl'),
 ({'last_letter': 'u'}, 'girl'),
 ({'last_letter': 'e'}, 'boy')]

In [0]:
# train test split
cut_off = int(0.75*len(data))

In [0]:
train , test = data[:cut_off], data[cut_off:]

In [0]:
# use the nltk decisiontree classifier
nltk_classifier = nltk.DecisionTreeClassifier.train(train)

In [81]:
nltk_classifier.classify(extract_features('Ashit'))

'boy'

In [82]:
# accuracy of the classifier
nltk_classifier.accuracy((nltk.classifier,test))

AttributeError: ignored