[View in Colaboratory](https://colab.research.google.com/github/anirbanghoshsbi/Cleaning-text-Document/blob/master/reading_text_data_from_pandas_1.ipynb)

In [0]:
# create a pandas dataframe
import pandas as pd

In [0]:
# Generate fake data
data = {'Sl No':[1,2,3,4,5,6,7,8,9,10],'Content':['abcd','efhg','acsd','drtsf','dfthsrfv','ftyjdrtg','dthrsgae','awefawef','thr','hdthrt']}

In [0]:
# convert the data to pandas dataframe
dataframe = pd.DataFrame(data)

In [39]:
dataframe

    Content  Sl No
0      abcd      1
1      efhg      2
2      acsd      3
3     drtsf      4
4  dfthsrfv      5
5  ftyjdrtg      6
6  dthrsgae      7
7  awefawef      8
8       thr      9
9    hdthrt     10

In [0]:
# append the data as numpy array using append 
all_data =[]
all_data.append(dataframe.Content.values)

In [41]:
#Check the numpy data
all_data.tolist()

AttributeError: ignored

In [0]:
# read the data as list AND not as Numpy array using extend function
all_data_1 = []
all_data_1.extend(list(dataframe.Content.values))

In [9]:
all_data_1

['abcd',
 'efhg',
 'acsd',
 'drtsf',
 'dfthsrfv',
 'ftyjdrtg',
 'dthrsgae',
 'awefawef',
 'thr',
 'hdthrt']

In [0]:
all_data_1.extend(list(dataframe.Content.values))

In [32]:
all_data_1

['abcd',
 'efhg',
 'acsd',
 'drtsf',
 'dfthsrfv',
 'ftyjdrtg',
 'dthrsgae',
 'awefawef',
 'thr',
 'hdthrt',
 'abcd',
 'efhg',
 'acsd',
 'drtsf',
 'dfthsrfv',
 'ftyjdrtg',
 'dthrsgae',
 'awefawef',
 'thr',
 'hdthrt']

In [0]:
# I can do String manipulation on list using extend function
import string
txt = " ".join(v for v in all_data_1 if v not in string.punctuation).lower()

In [34]:
txt

'abcd efhg acsd drtsf dfthsrfv ftyjdrtg dthrsgae awefawef thr hdthrt abcd efhg acsd drtsf dfthsrfv ftyjdrtg dthrsgae awefawef thr hdthrt'

In [0]:
# I can do String manipulation on list but not on numpy array
import string
txt = " ".join(v for v in all_data_1 if v not in string.punctuation).lower()

In [15]:
txt

'abcd efhg acsd drtsf dfthsrfv ftyjdrtg dthrsgae awefawef thr hdthrt abcd efhg acsd drtsf dfthsrfv ftyjdrtg dthrsgae awefawef thr hdthrt'

In [27]:
# See how this will not work for append() # all_data
all_data.tolist()

AttributeError: ignored

In [31]:
#to make this work use tolist()
txt_1 = " ".join(v for v in all_data if v not in string.punctuation).lower()

TypeError: ignored

In [19]:
my_list = [0,1,2,3,4,5,4,3,2,1,0]
my_dt = pd.DataFrame(my_list)
new_list = [i[0] for i in my_dt.values.tolist()]

print(type(my_list),type(my_dt),type(new_list))

<class 'list'> <class 'pandas.core.frame.DataFrame'> <class 'list'>

In [25]:
type(all_data)

list

In [26]:
type(all_data_1)

list

In [0]:

reviews = dataframe.Content.values

In [0]:
#convert the reviews in the same format of that of keras#convert 
review_cleaned =[] 
review_cleaned.append(" ".join(v for v in reviews if v not in string.punctuation).lower())

In [52]:
review_cleaned

['abcd efhg acsd drtsf dfthsrfv ftyjdrtg dthrsgae awefawef thr hdthrt']

In [0]:
text=" ".join(v for v in review_cleaned if v not in string.punctuation).lower()

In [54]:
text

'abcd efhg acsd drtsf dfthsrfv ftyjdrtg dthrsgae awefawef thr hdthrt'

In [0]:
text_1 = " ".join(review_cleaned)

In [56]:
text_1

'abcd efhg acsd drtsf dfthsrfv ftyjdrtg dthrsgae awefawef thr hdthrt'